{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Soft": {{ docker_default_nofile_soft }},
      "Hard": {{ docker_default_nofile_hard }}
    }
  }
}
