{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Soft": {{ docker_default_nofile_soft }},
      "Hard": {{ docker_default_nofile_hard }}
    }
  }{% if docker_insecure_registries_effective | default([]) | length > 0 %},
  "insecure-registries": {{ docker_insecure_registries_effective | to_json }}
{% endif %}
}
