version: "3.8"

services:
  traefik:
    image: traefik:{{ traefik_version }}
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    environment:
      TZ: Europe/Moscow
    ports:
      - "{{ haproxy_traefik_web_port | default(8080) }}:{{ haproxy_traefik_web_port | default(8080) }}"
      - "{{ haproxy_traefik_websecure_port | default(8443) }}:{{ haproxy_traefik_websecure_port | default(8443) }}"
      - "{{ traefik_internal_api_port }}:{{ traefik_internal_api_port }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ traefik_storage_base_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ traefik_storage_base_dir }}/{{ traefik_dynamic_subdir }}:/etc/traefik/dynamic:ro"
      - "{{ traefik_cert_manager_letsencrypt_host_dir }}:/etc/traefik/letsencrypt:ro"
      - "{{ traefik_storage_base_dir }}:/etc/traefik"
    restart: unless-stopped

